<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Mi nombre es Norma</h1><br>
    <h1>{{familia}}</h1><br>
    <h2>Mi mama se llama {{mama}} y tiene {edades[0] años</h2><br>
    <h2>Mi hermano mayor se llama {{hermano_1}} y tiene {{edades[1]}} años</h2><br>
    <h2>Mi hermano menor se llama {{hermano_2}} y tiene {{edades[2]}} años</h2> 
</body>
</html>